<table cellspacing="0" cellpadding="0" width="100%">
  <tr>
    <td class="mobile-center" align="left" style="{{default button-container-style button-bgimage.button.button-container-style}}">
      <div class="mobile-center" align="left"><!--[if mso]>
          <v:roundrect xmlns:v="urn:schemas-microsoft-com:vml" xmlns:w="urn:schemas-microsoft-com:office:word" href="{{default url button-bgimage.button.url}}" style="height:{{default height button-bgimage.button.height}}px;width:{{default width button-bgimage.button.width}}px;v-text-anchor:middle;" arcsize="{{default arcsize button-bgimage.button.arcsize}}%" strokecolor="#{{ default border button-bgimage.button.border }}" fill="t">
            <v:fill type="{{default filltype button-bgimage.button.filltype}}" src="{{ default background-url button-bgimage.button.background-url }}" color="#{{ default bg-color button-bgimage.button.bg-color }}" />
            <w:anchorlock/>
            <center style="{{default font-style button-bgimage.button.font-style}}">{{default label button-bgimage.button.label}}</center>
          </v:roundrect>
        <![endif]--><a href="{{default url button-bgimage.button.url}}"
        style="border-radius:{{default border-radius button-bgimage.button.border-radius}}px;text-shadow: -1px -1px #47A54B;text-align:center;text-decoration:none;-webkit-text-size-adjust:none;mso-hide:all;background-color:#{{ default bg-color button-bgimage.button.bg-color }};background-image:url({{ default background-url button-bgimage.button.background-url }});border:1px solid #{{ default border button-bgimage.button.border }};line-height:{{default height button-bgimage.button.height}}px;width:{{default width button-bgimage.button.width}}px;{{default font-style button-bgimage.button.font-style}}"><span style="{{default font-style button-bgimage.button.font-style}}">
        {{default label button-bgimage.button.label}}</span>
      </a></div>
    </td>
  </tr>
</table>