 <table cellspacing="0" cellpadding="0" width="100%">
              <tr>
                <td style="width:{{ default width button-standard.button.width }}px;{{ default font-style button-standard.button.font-style }}" width="{{ default width button-standard.button.width }}">
                  <div><!--[if mso]>
                      <v:roundrect xmlns:v="urn:schemas-microsoft-com:vml" xmlns:w="urn:schemas-microsoft-com:office:word" href="{{ default url button-standard.button.url }}" style="height:{{ default height button-standard.button.height }}px;v-text-anchor:middle;width:{{ default width button-standard.button.width }}px;" arcsize="{{ default arcsize button-standard.button.arcsize }}%" stroke="f" fillcolor="#{{ default bg-color button-standard.button.bg-color }}">
                        <w:anchorlock/>
                        <center style="{{ default font-style button-standard.button.font-style }}">{{ default button-content button-standard.button.button-content }}</center>
                      </v:roundrect>
                    <![endif]-->
                    <!--[if !mso]><!-- --><a href="{{ default url standard-button.button.url }}" style="text-decoration: {{ default text-decoration button-standard.button.text-decoration }}; border: 0; outline: none;"><table cellspacing="0" cellpadding="0" width="100%"><tr><td style=" display: inline-block; text-align: center; background-color: {{ default bg-color button-standard.button.bg-color }}  font-weight: bold; border-radius: {{ default border-radius button-standard.button.border-radius }}px; text-decoration: {{ default text-decoration button-standard.button.text-decoration }}; line-height: {{ default height button-standard.button.height }}px; width: {{ default width button-standard.button.width }}px; -webkit-text-size-adjust: none; mso-hide: all; {{ default font-style button-standard.button.font-style }}" width="{{ default width button-standard.button.width }}" bgcolor="{{ default bg-color button-standard.button.bg-color }}" align="center"><span style="{{ default font-style button-standard.button.font-style}}">{{ default button-content button-standard.button.button-content }}</span></td></tr></table></a>
                    <!--<![endif]-->
                  </div>
                </td>

              </tr>
            </table>
            <table>
              <tr>
                <td style="height: 10px"></td>
              </tr>
            </table>
