<!-- BULLETPROOF BUTTON -->
<table width="100%" {{ default table-bcc button-generic.button.table-bcc }} class="mobile-button-container">
    <tr>
        <td align="{{ default align button-generic.button.align }}" style="padding: {{ default td-padding button-generic.button.td-padding }}" class="padding-copy">
            <table {{ default table-bcc button-generic.button.table-bcc }} class="responsive-table">
                <tr>
                    <td align="{{ default align button-generic.button.align }}"><a href="{{ default url button-generic.button.url }}" target="_blank" style="background-color: #{{ default background-color button-generic.button.background-color }}; {{ default border button-generic.button.border }}  border-radius: {{ default border-radius button-generic.button.border-radius }}px; -webkit-border-radius: {{ default border-radius button-generic.button.border-radius }}px; -moz-border-radius: {{ default border-radius button-generic.button.border-radius }}px; display: inline-block;{{ default font-style button-generic.button.font-style }}" class="mobile-button">{{ default button-content button-generic.button.button-content }}</a></td>
                </tr>
            </table>
        </td>
    </tr>
</table>

