<tr>
  <td class="one-column">
    <table width="100%" class="sign">
      <tr>
        <td class="inner contents">
          <p>Gilbert Salazar <br /> Principal</p>
        </td>
      </tr>
      <tr class="signature">
        <td class="inner contents">
          <img src="http://apps.defaktolabs.com/defakto/newyear/img/defakto-brand/gilber_salizar_sig.png">
        </td>
      </tr>
    </table>
</td>
</tr>