<tr>
  <td class="partial hero one-column">
    <table width="100%" bgcolor="#000">
      <tr>
        <td class="inner contents">
          <img src="http://apps.defaktolabs.com/defakto/newyear/img/heroNY.png" alt="HappyNewYear" />
        </td>
      </tr>
    </table>
  </td>
</tr>


{{!-- <tr>
  <td class="partial hero one-column">
    <table width="100%" bgcolor="#000">
      <tr>
        <td class="inner contents">
        </td>
      </tr>
      <tr>
        <td class="inner contents">
         

          <p class="h1"> <br />
            {{{ h1-copy }}}
          </p>

          <table width="100%" height="32" cellpadding="0" cellspacing="0" style="max-width:600px;">
            <tr>
              <td height="32" class="" align="center" valign="middle" style="vertical-align:middle;" >

                <img src="http://apps.defaktolabs.com/twcbc-email/o2kl/img/o2kl/divider-line-gray.png" width="50%" height="1" />
              </td>
              <td height="32" class="" align="center" valign="middle" width="155"  style="vertical-align:middle;">
                <p class="from"> from </p>
              </td>
              <td height="32" class="" align="center" valign="middle" style="vertical-align:middle;" >
               <img src="http://apps.defaktolabs.com/twcbc-email/o2kl/img/o2kl/divider-line-gray.png" width="50%" height="1" />
              </td>
            </tr>
          </table>
          <br />
          <p class="h2">
            {{{ h2-copy }}}
          </p>
          <br />
        </td>
      </tr>
    </table>
  </td>
</tr> --}}