// Defakto colors
$defakto-purp: #8a5ba6;
$defakto-green: #12ada1;
$defakto-pink: #ff35ff;
$defakto-grey: #d3d3d3;

$white: #ffffff;
$black: #000000;
$shades-of-gray: #505050;
$dark-gray: #333333;
$medium-gray: #666666;
$border-gray: #838383;

// TWCBC colors
$twc-baby-blue: #c9e3f2;
$twc-light-blue: #007dc3;
$twc-light-blue-off: #0c67b6;
$twc-medium-blue: #06367d;
$twc-dark-blue: #004990;
$twc-gray: #aeafb3;
$twc-yellow: #f19e17;
$twc-green: #72ab3d;
$twc-orange: #f09618;
$twc-cheese: #FDB710;