//colors
$white: #ffffff;

body {
  Margin: 0;
  padding: 0;
  min-width: 100%;
  background-color: $white;
}
table {
  border-spacing: 0;
  font-family: sans-serif;
}
td {
  padding: 0;
}
img {
  border: 0;
}
.wrapper {
  width: 100%;
  table-layout: fixed;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
.webkit {
  max-width: 600px;
}
.webkit-lg {
  max-width: 700px;
  .outer-lg {
    Margin: 0 auto;
    width: 100%;
    max-width: 700px;
  }
  .full-width-image {
    img {
      max-width: 700px;
    }
  }
}
.outer {
  Margin: 0 auto;
  width: 100%;
  max-width: 600px;
}
.inner {
  padding: 10px;
}
.contents {
  width: 100%;
}
p {
  Margin: 0;
}
.full-width-image {
  img {
    width: 100%;
    max-width: 600px;
    height: auto;
  }
}

/* One column layout */

.one-column {
  .contents {
    text-align: left;
  }
  p {
    font-size: 14px;
    Margin-bottom: 10px;
  }
}

/*Two column layout*/

.two-column {
  text-align: center;
  font-size: 0;
  .column {
    width: 100%;
    display: inline-block;
    vertical-align: top;
  }
  .even {
    max-width: 300px;
  }
  .left-wide,
  .right-wide {
    max-width: 400px;
  }
  .right-thin,
  .left-thin {
    max-width: 200px;
  }
  .contents {
    font-size: 14px;
    text-align: left;
  }
  img {
    width: 100%;
    max-width: 280px;
    height: auto;
  }
  .text {
    padding-top: 10px;
  }
}

/*Three column layout*/

.three-column {
  text-align: center;
  font-size: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  .column {
    width: 100%;
    max-width: 200px;
    display: inline-block;
    vertical-align: top;
  }
  img {
    width: 100%;
    max-width: 180px;
    height: auto;
  }
  .contents {
    font-size: 14px;
    text-align: center;
  }
  .text {
    padding-top: 10px;
  }
}

/* Left sidebar layout */

.left-sidebar {
  text-align: center;
  font-size: 0;
  .column {
    width: 100%;
    display: inline-block;
    vertical-align: middle;
  }
  .left {
    max-width: 100px;
  }
  .right {
    max-width: 500px;
  }
  .img {
    width: 100%;
    max-width: 80px;
    height: auto;
  }
  .contents {
    font-size: 14px;
    text-align: center;
  }
}

/* Right sidebar layout */


.right-sidebar {
  text-align: center;
  font-size: 0;
  .column {
    width: 100%;
    display: inline-block;
    vertical-align: middle;
  }
  .left {
    max-width: 100px;
  }
  .right {
    max-width: 500px;
  }
  .img {
    width: 100%;
    max-width: 80px;
    height: auto;
  }
  .contents {
    font-size: 14px;
    text-align: center;
  }
}
@media screen and(max-width: 400px) {
  .two-column {
    .column {
      max-width: 100% !important;
    }
    img {
      max-width: 100% !important;
    }
  }
  .three-column {
    .column {
      max-width: 100% !important;
    }
    img {
      max-width: 50% !important;
    }
  }
}
@media screen and(min-width: 401px) and(max-width: 620px) {
  .three-column .column {
    max-width: 33% !important;
  }
  .two-column .column {
    max-width: 50% !important;
  }
}