/* -------------------------------------
    TYPOGRAPHY
------------------------------------- */

@import url(https://fonts.googleapis.com/css?family=Elsie+Swash+Caps:900);

h1,
h2,
h3,
h4 {
  color: #000;
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 400;
  line-height: 1.4em;
  margin: 0;
  margin-bottom: 30px;
}

h1 {
  font-size: 38px;
  text-transform: capitalize;
  font-weight: 300;
}
h2 {
  font-size: 24px;
}
h3 {
  font-size: 18px;
}
h4 {
  font-size: 14px;
  font-weight:500;
}

p,
ul,
ol {
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
  margin-bottom: 15px;

  li {
    list-style-position: inside;
    margin-left: 5px;
  }
}

a {
  color: $primary-color;
  text-decoration: underline;
}

$elsieSwashCaps: 'Elsie Swash Caps', cursive;