/* GENERAL STUFF */

a {
  // color: $color_burnt_sienna_approx;
  text-decoration: underline;
}
.h1 {
  font-size: 22px;
  font-weight: bold;
  Margin-bottom: 18px;
}
.h2 {
  font-size: 18px;
  font-weight: bold;
  Margin-bottom: 12px;
}
.h3 {
  font-size: 16px;
  font-weight: bold;
  Margin-bottom: 10px;
}

/* The layout */


.left-wide {
  .inner {
    padding-top: 0;
  }
  .text {
    padding-top: 0;
  }
}

.defakto-contact {
  padding-left: 0;
  a {
    text-decoration: none;
    color: #000000;
  }
  .location {
    height: 21px;
  }
  .mail {
    height: 11px;
    width: 18px;
    padding-top: 3px;
  }
}

/* The rest */

.webkit {
  border-bottom: 10px solid #000000;
  p, 
  ol, 
  ul {
    font-size: 16px;
  }
  .one-column {
    .two-col-title {
      padding-bottom: 0;
      .h1 {
        max-width: 400px;
        color: $defakto-purp;
        font-size: 24px;
        font-family: 'Dosis', Helvetica, Arial, sans-serif;
        line-height: 32px;
      }
    }
  }
  .left-wide {
    .text p {
      margin-bottom: 18px;
    }
    ol {
      padding-left: 10px;
    }
  }
  .greeting {
    font-weight: bold;
    Margin-bottom: 18px;
    span {
      color: $defakto-pink;
    }
  }
  .right-thin {
    .inner {
      padding-top: 54px;
    }
  }
  .side-quote {
    color: $defakto-purp;
    border-top: 3px solid #000000;
    border-bottom: 3px solid #000000;
    padding-bottom: 15px;
    .quote {
      font-style: italic;
    }
  }
}

.signature {
  .inner {
    padding-top: 0 !important;
  }
}

.defakto-contact {
  tr {
    height: 40px;
  }
  .contact-icon {
    text-align: center;
    vertical-align: top;
    width: 16px;
    padding-top: 5px;
    img {
      width: 16px;
      height: 16px;
    }
  }
  .contact-info {
    text-align: left;
    vertical-align: top;
    padding-left: 20px;
    padding-top: 3px;
    p {
      line-height: 1;
      Margin-bottom: 0;
      font-size: 14px;
    }
  }
}