.wrapper {
  .outer {
  background-color: $defakto-grey;
  padding: 30px 35px;
  }
}

.body-outer {
  background-color: #FFF;
  padding: 0;
  margin: 0;
}

.ExternalClass {
  p, span, font, td, {
    line-height: 100%;
  }
}

.preheader-text {
  color: #c4c4c4;
  font-size:12px;
}
.header {
  .inner {
    padding: 10px;
    padding-left: 0;
  }
  .top-logo {
    img {
      width: 100%;
      max-width: 165px;
      height: auto;
    }
  }
}

.phone-number {
  vertical-align: middle;
  p {
    padding-top: 20px;
    color: $twc-light-blue-off;
    text-align: right;
    font-size: 18px;
  }
  .partial-phone {
    color: $twc-light-blue-off;
    font-size: 18px;
    font-weight: bold;
    line-height: 18px;
    text-decoration: none;
  }

}

.phone-btm {
  color: $twc-dark-blue;
  strong {
    font-size: 18px;
  }
}

.hero {
  .contents {
    img {
      width: 100%;
      max-width: 600px;
    }
    .h1 {
      color: $white;
      font-family: 'Elsie Swash Caps';
      line-height: 60px;
      font-size: 60px;
      font-weight: 900;
      text-align:center;
      span {
        color: $twc-light-blue;
        font-size: 40px;
        font-weight: bold;
      }
      sup {
        font-size: 18px;
      }
    }
    .h2 {
      color: $shades-of-gray;
      line-height: 18px;
      font-size: 18px;
      font-weight: normal;
      margin-left: 5%;
      margin-right: 5%;
      text-align:center;
      .partial-phone {
        color: $dark-gray;
        font-size: 18px;
        font-weight: bold;
        line-height: 20px;
        text-decoration: none;
      }

    }

  }
}
.partial.offer-service {
  .contents {
    text-align: left;
    .title-copy {
      color: $twc-medium-blue;
      font-size: 24px;
      line-height: 24px;
      margin-bottom: 8px;
    }
    .lead-copy {
      color: $dark-gray;
      font-size: 16px;
      line-height: 20px;
      font-weight: bold;
    }
    .price-copy {
      color: $dark-gray;
      font-size: 48px;
      line-height: 48px;
      font-weight: bold;
    }
    .price-sub {
      color: $dark-gray;
      font-size: 16px;
      line-height: 10px;
      font-weight: bold;
    }
    .term-copy {
      color: $dark-gray;
      font-size: 12px;
      line-height: 12px;
      margin-bottom: 12px;
    }
    .bullet-copy {
      color: $twc-medium-blue;
      font-size: 14px;
      line-height: 16px;
      font-weight: normal;
    }
    .bullets {
      td {
        color: $twc-medium-blue;
        font-size: 14px;
        line-height: 16px;
        font-weight: normal;
      }
    }
    .phone-copy {
      color: $dark-gray;
      font-size: 18px;
      font-weight: bold;
      line-height: 18px;
      .partial-phone {
        color: $dark-gray;
        font-size: 22px;
        font-weight: bold;
        line-height: 22px;
        text-decoration: none;
      }
    }
    .upgrade-block {
      padding: 10px 0 0 0;
      .copy {
        color: $dark-gray;
        font-size: 14px;
        font-weight: bold;
        line-height: 16px;
      }
    }
  }
}

.partial.offer-promo {
  .contents {
    text-align: center;
    .lead-copy {
      color: $medium-gray;
      font-size: 20px;
      line-height: 20px;
    }
    .promo-copy-h1 {
      color: $twc-dark-blue;
      font-size: 80px;
      line-height: 80px;
    }
    .promo-copy-h2 {
      color: $twc-dark-blue;
      font-size: 40px;
      line-height: 40px;
    }
    .price-copy {
      color: $medium-gray;
      font-size: 18px;
      line-height: 18px;
    }
    .term-copy {
      color: $medium-gray;
      font-size: 14px;
      line-height: 14px;
    }
    .phone-copy {
      color: $dark-gray;
      font-size: 18px;
      font-weight: bold;
      line-height: 20px;
      .partial-phone {
        color: $dark-gray;
        font-size: 22px;
        font-weight: bold;
        line-height: 22px;
        text-decoration: none;
        padding-top: 5px;
      }
    }
    .upgrade-block {
      padding: 10px 0 0 0;
      .copy {
        color: $dark-gray;
        font-size: 14px;
        font-weight: bold;
        line-height: 16px;
      }
    }

  }  
}

.content-copy {
  .contents {
    .bullets {
      margin-bottom: 10px;
      .ol-num {
        color: $shades-of-gray;
      }
      .ol-content {
        color: $shades-of-gray;
        margin-bottom: 10px;
      }
    }
    p {
      color: $shades-of-gray;
    }
    .h1 {
      color: $twc-medium-blue;
      line-height: 16px;
      font-size: 16px;
      font-weight: bold;
    }
    .h2 {
      color: $dark-gray;
      line-height: 18px;
      font-size: 18px;
      font-weight: bold;
      margin: 0;
      a {
        color: $dark-gray;
        text-decoration: none;
      }
    }
    .copy {
      margin-bottom:10px;
      color: $dark-gray;
    }

  }
}

.divider {
  .inner {
    padding: 0;
  }
}

.partial {
  .inner {
    padding: 0;
  }
}

.blue-spacer {
  .inner {
    padding: 0;
  }
}

.wood-spacer {
  padding-top: 6px;
}

.main-content {
  .the-know {
    padding-top: 30px;
  }
  .main-p {
    padding-bottom: 0;
  }
  .h1 {
    color: $twc-dark-blue;
    Margin-bottom: 0;
    font-size: 19px;
  }
  .wp-section {
    .left {
      max-width: 130px;
      .inner {
        padding-top: 0;
        padding-bottom: 0;
        padding-right: 0;
      }
    }
    .right {
      max-width: 470px;
      .inner {
        padding-right: 0;
      }
    }
    .list {
      p {
        Margin: 0;
      }
    }
  }
  .cta {
    padding-top: 0;
    .h1 {
      font-size: 16px;
    }
    .btn-twc-2 {
      padding: 0;
    }
  }
  .full-width-image {
    padding-left: 10px;
    padding-right: 10px;
  }
}

p.title {
  Margin-bottom: 0;
}

ul.reason-list {
  padding-left: 0;
  li {
    margin-left: 5px;
    list-style-position: inside;
  }
}

.footer {
  .social-icon {
    padding-left: 14px;
    padding-right: 5px;
    padding-top: 14px;
    padding-bottom: 14px;
    &:first-child {
      padding-left: 0;
    }
    a {
      width: auto;
      height: auto;
    }
  }
  .inner {
    padding-left:0;
    padding-right:0;
  }
  .service-link {
    padding-top: 17px;
    display: inline-block;
    a {
      color: #000000;
      font-size: 12px;
      text-align: center;
    }
  }
}

.legal {
  .inner {
    padding-top: 0;
  }
  .legal-copy {
    font-size: 10px;
    line-height: 10px;
    color: $twc-gray;
  }
}

.partial.upsell {
  border: solid 1px $dark-gray;
  font-size: 12px;
  color: $dark-gray;
  .left {
    width: 80px;
    text-align: center;
    line-height: 1;
    vertical-align: middle;
    border-right: solid 1px $dark-gray;
  }
  .right {
    text-align: left;
    line-height: 1;
    font-size: 15px 24px;
    color: $dark-gray;
    vertical-align: middle;
    padding:12px;
    .title {
      font-size: 16px;
      font-weight: bold;
      line-height: 16px;
      color: $twc-dark-blue;
      margin-bottom: 5px;
    }
    .copy {
      p{
        font-size: 12px;
        font-weight: normal;
        line-height: 12px;
        color: $dark-gray;
      }
    }
    .cta {
        font-size: 14px;
        font-weight: bold;
        line-height: 14px;
        color: $dark-gray;
    }
  }
}

// WES'S STYLES Y'ALL
.partial.copy-top .contents {
  font-size: 18px;
  font-weight: bold;
  line-height: 18px;
  padding-left: 20px;
  padding-right: 20px;
}
.copy-bottom {
  padding: 20px 0 0 0;
  .h1 {
    font-size: 24px;
    text-align: center;
    color: #333333;
    margin: 0 0 5px;
    .partial-phone{
      font-size: 24px;
      text-align: center;
      color: #333333;
      text-decoration: none;
    }
  }
  .h2 {
    font-size: 12px;
    text-align: center;
    color: #333333;
    margin: 0;
    a {
      color: $primary-color;
      // text-decoration: underline;
    }
  }
}
.vertical-padding-20 {
  padding: 20px 0;
}
.thirtyday {
  font-size: 12px;
  color: $dark-gray;
  .left {
    width: 25%;
    text-align: center;
    line-height: 1;
    vertical-align: middle;
  }
  .right {
    width: 75%;
    text-align: left;
    line-height: 1;
    font-size: 12px;
    color: $dark-gray;
    vertical-align: middle;
    padding:12px;
  }
}

.wifi {
  .left {
    width: 25%;
    text-align: center;
    line-height: 1;
    vertical-align: middle;
  }
  .right {
    width: 75%;
    text-align: left;
    line-height: 1;
    font-size: 12px;
    color: $dark-gray;
    vertical-align: middle;
    padding:12px;
  }
}

// END WES'S STYLES

@media screen and (min-width: 421px) {
  .mq-border-right {
    border-right: solid 1px $border-gray;
  }
  .wide {
    max-width: 400px !important;
  }
  .thin {
    max-width: 200px !important;
  }
  .service-link {
    padding-left: 30px !important;
  }
  .services {
/*    text-align: right !important; */
  }
}

@media screen and(max-width: 420px) {
  .mq-border-bottom {
    border-bottom: solid 1px $border-gray;
    margin-bottom: 10px;
    padding-bottom: 10px;
  }
  .header {
    .top-logo {
      text-align: center !important;
    }
    .phone-number {
      p {
        padding-top: 0 !important;
      }
    }
  }

  .header-with-number {
    .logo {
      width: 40% !important;
      img {
        height: auto !important;
      }
    }
    .phone-number {
      width: 60% !important;
      p,
      .partial-phone {
        font-size: 18px !important;
        padding-top: 10px !important;
      }
    }
  }

  .hero {

    .even {
      max-width: 100% !important;
    }
    .for-wp {
      padding: 0 !important;
    }


    .contents {      
      .h1 {
        line-height: 28px !important;
        font-size: 26px !important;
        span {
          font-size: 30px !important;
        }
      }
    }
  }

.partial .even {
    max-width: 100% !important;
  }


  .wp-section {
    .left {
      max-width: 100% !important;
      img {
        width: 80%;
      }
    }
  }

  .service-link {
    display: block !important;
    padding-top: 0 !important;
    text-align: center !important;
  }
  .footer {
    .inner {
      padding-top: 0 !important;
      padding-bottom: 0 !important;
    }
    .social-icon {
      padding-top: 8px !important;
    }
  }
}

.no-padding-left {
  padding-left: 0;
}

.no-padding-right {
  padding-right: 0;
}



/* MH Styles  */

/* MH Styles  */



/* LV Styles  */

.spacer {
  padding: 10px;
}

.two-column {
  text-align: center;
  font-size: 0;
  .column {
    width: 100%;
    display: inline-block;
    vertical-align: top;
  }
  .even {
    max-width: 300px;
  }
  .left-wide,
  .right-wide {
    max-width: 380px;
  }
  .right-thin,
  .left-thin {
    max-width: 100px;
  }
  .contents {
    font-size: 14px;
    text-align: left;
  }
  img {
    width: 100%;
    max-width: 280px;
    height: auto;
  }
  .text {
    padding-top: 10px;
  }
}

.hero {
  .from {
    color: #d3d3d3;
  }
}

.left-thin {
  .contents {
    font-family: 'Helvetica Neue', Helvetica, Arial;
      p{
      font-size: 20px;
      line-height: 21px;
      }
      span {
        font-size: 55px;
        line-height: 60px;
      } 
  }
  .inner {
    padding: 0 10px 0 0;
  }
}

.right-wide {
  .contents {
    font-family: Verdana, Arial;
    font-size: 12px;
    line-height: 15px;
  }
  .inner {
    padding: 0 0 0 10px;
  }
}

.inner {
  h1{
      color: #8a5ba6 !important;
      margin-bottom: 0px;
      padding-bottom: 0px;
      font-size: 36px;
      font-style: italic;
      text-transform: none;
  }
  p {
    font-size: 12px;
    line-height: 14px;
  }
}

.partial {
  .email-content {
    padding-left: 20px;
  }
}

.sign {
  padding: 20px 40px;
}

.defakto-icon {
  padding: 40px;
  background-color: #fff;
}

.contents {
  img {
    padding-top: 3px;
  }
}

.arrow2015 {
    max-width: 110px;
}

.webkit {
  border-bottom: none !important;
}
/* LV Styles  */