/* -------------------------------------
    CONFIGURE YOUR VARIABLES
------------------------------------- */
/* -------------------------------------
    GLOBAL RESETS
------------------------------------- */
@import url(https://fonts.googleapis.com/css?family=Elsie+Swash+Caps:900);
table,
td,
div,
a {
  box-sizing: border-box; }

img {
  -ms-interpolation-mode: bicubic;
  max-width: 100%; }

body {
  font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 14px;
  height: 100% !important;
  line-height: 1.6em;
  margin: 0;
  padding: 0;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  width: 100% !important; }

table {
  border-collapse: separate !important;
  mso-table-lspace: 0pt;
  mso-table-rspace: 0pt;
  width: 100%; }
  table td {
    font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 14px;
    vertical-align: top; }

.ExternalClass {
  width: 100%; }

.ExternalClass,
.ExternalClass p,
.ExternalClass span,
.ExternalClass font,
.ExternalClass td,
.ExternalClass div {
  line-height: 100%; }

/* -------------------------------------
    TYPOGRAPHY
------------------------------------- */
h1,
h2,
h3,
h4 {
  color: #000;
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 400;
  line-height: 1.4em;
  margin: 0;
  margin-bottom: 30px; }

h1 {
  font-size: 38px;
  text-transform: capitalize;
  font-weight: 300; }

h2 {
  font-size: 24px; }

h3 {
  font-size: 18px; }

h4 {
  font-size: 14px;
  font-weight: 500; }

p,
ul,
ol {
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
  margin-bottom: 15px; }
  p li,
  ul li,
  ol li {
    list-style-position: inside;
    margin-left: 5px; }

a {
  color: #348eda;
  text-decoration: underline; }

/* -------------------------------------
    BUTTONS
------------------------------------- */
.btn {
  width: 100%; }
  .btn > tr > td {
    padding-bottom: 15px; }
  .btn table {
    width: auto; }
  .btn table td {
    text-align: center; }
  .btn a {
    color: #348eda;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    Margin: 0;
    padding: 12px 25px;
    text-decoration: none;
    text-transform: capitalize; }

.btn-primary table td {
  background-color: #348eda; }

.btn-primary a {
  background-color: #348eda;
  border-color: #348eda;
  color: #ffffff; }

.btn-secondary table td {
  background-color: transparent; }

.btn-secondary a {
  background-color: transparent;
  border-color: #348eda;
  color: #348eda; }

.btn-defakto {
  width: 100%;
  padding-top: 10px; }
  .btn-defakto table {
    width: 100%;
    max-width: 233.33px; }
    .btn-defakto table td {
      background-color: #12ada1; }
  .btn-defakto a {
    width: 100%;
    max-width: 233.33px;
    background-color: transparent;
    border-color: #12ada1;
    color: #ffffff;
    font-weight: 300;
    font-size: 18px; }

/* -------------------------------------
    OTHER STYLES THAT MIGHT BE USEFUL
------------------------------------- */
.last {
  margin-bottom: 0; }

.first {
  margin-top: 0; }

.align-center {
  text-align: center; }

.align-right {
  text-align: right; }

.align-left {
  text-align: left; }

.clear {
  clear: both; }

.mt0 {
  margin-top: 0; }

.mb0 {
  margin-bottom: 0; }

.preheader {
  color: transparent;
  display: none;
  height: 0;
  max-height: 0;
  max-width: 0;
  opacity: 0;
  overflow: hidden;
  mso-hide: all;
  visibility: hidden;
  width: 0; }

body {
  Margin: 0;
  padding: 0;
  min-width: 100%;
  background-color: #ffffff; }

table {
  border-spacing: 0;
  font-family: sans-serif; }

td {
  padding: 0; }

img {
  border: 0; }

.wrapper {
  width: 100%;
  table-layout: fixed;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

.webkit {
  max-width: 600px; }

.webkit-lg {
  max-width: 700px; }
  .webkit-lg .outer-lg {
    Margin: 0 auto;
    width: 100%;
    max-width: 700px; }
  .webkit-lg .full-width-image img {
    max-width: 700px; }

.outer {
  Margin: 0 auto;
  width: 100%;
  max-width: 600px; }

.inner {
  padding: 10px; }

.contents {
  width: 100%; }

p {
  Margin: 0; }

.full-width-image img {
  width: 100%;
  max-width: 600px;
  height: auto; }

/* One column layout */
.one-column .contents {
  text-align: left; }

.one-column p {
  font-size: 14px;
  Margin-bottom: 10px; }

/*Two column layout*/
.two-column {
  text-align: center;
  font-size: 0; }
  .two-column .column {
    width: 100%;
    display: inline-block;
    vertical-align: top; }
  .two-column .even {
    max-width: 300px; }
  .two-column .left-wide,
  .two-column .right-wide {
    max-width: 400px; }
  .two-column .right-thin,
  .two-column .left-thin {
    max-width: 200px; }
  .two-column .contents {
    font-size: 14px;
    text-align: left; }
  .two-column img {
    width: 100%;
    max-width: 280px;
    height: auto; }
  .two-column .text {
    padding-top: 10px; }

/*Three column layout*/
.three-column {
  text-align: center;
  font-size: 0;
  padding-top: 10px;
  padding-bottom: 10px; }
  .three-column .column {
    width: 100%;
    max-width: 200px;
    display: inline-block;
    vertical-align: top; }
  .three-column img {
    width: 100%;
    max-width: 180px;
    height: auto; }
  .three-column .contents {
    font-size: 14px;
    text-align: center; }
  .three-column .text {
    padding-top: 10px; }

/* Left sidebar layout */
.left-sidebar {
  text-align: center;
  font-size: 0; }
  .left-sidebar .column {
    width: 100%;
    display: inline-block;
    vertical-align: middle; }
  .left-sidebar .left {
    max-width: 100px; }
  .left-sidebar .right {
    max-width: 500px; }
  .left-sidebar .img {
    width: 100%;
    max-width: 80px;
    height: auto; }
  .left-sidebar .contents {
    font-size: 14px;
    text-align: center; }

/* Right sidebar layout */
.right-sidebar {
  text-align: center;
  font-size: 0; }
  .right-sidebar .column {
    width: 100%;
    display: inline-block;
    vertical-align: middle; }
  .right-sidebar .left {
    max-width: 100px; }
  .right-sidebar .right {
    max-width: 500px; }
  .right-sidebar .img {
    width: 100%;
    max-width: 80px;
    height: auto; }
  .right-sidebar .contents {
    font-size: 14px;
    text-align: center; }

@media screen and (max-width: 400px) {
  .two-column .column {
    max-width: 100% !important; }
  .two-column img {
    max-width: 100% !important; }
  .three-column .column {
    max-width: 100% !important; }
  .three-column img {
    max-width: 50% !important; } }

@media screen and (min-width: 401px) and (max-width: 620px) {
  .three-column .column {
    max-width: 33% !important; }
  .two-column .column {
    max-width: 50% !important; } }

/* global */
.wireframes, .wireframes-dashed, .one-column.wf .inner, .two-column.wf .inner, .three-column.wf .inner, .left-sidebar.wf .column,
.right-sidebar.wf .column, .two-column.wf .inner .text, .three-column.wf .inner .text {
  text-align: center;
  border: 2px solid red;
  vertical-align: middle;
  height: 100px; }

.wireframes-dashed, .one-column.wf .inner, .two-column.wf .inner, .three-column.wf .inner, .left-sidebar.wf .column,
.right-sidebar.wf .column {
  border-style: dashed; }

/* non-global */
.one-column.wf .inner {
  text-align: left;
  vertical-align: top; }
  .one-column.wf .inner .h1 {
    margin: 0; }

.left-sidebar.wf .column,
.right-sidebar.wf .column {
  height: auto; }

/* GENERAL STUFF */
a {
  text-decoration: underline; }

.h1 {
  font-size: 22px;
  font-weight: bold;
  Margin-bottom: 18px; }

.h2 {
  font-size: 18px;
  font-weight: bold;
  Margin-bottom: 12px; }

.h3 {
  font-size: 16px;
  font-weight: bold;
  Margin-bottom: 10px; }

/* The layout */
.left-wide .inner {
  padding-top: 0; }

.left-wide .text {
  padding-top: 0; }

.defakto-contact {
  padding-left: 0; }
  .defakto-contact a {
    text-decoration: none;
    color: #000000; }
  .defakto-contact .location {
    height: 21px; }
  .defakto-contact .mail {
    height: 11px;
    width: 18px;
    padding-top: 3px; }

/* The rest */
.webkit {
  border-bottom: 10px solid #000000; }
  .webkit p,
  .webkit ol,
  .webkit ul {
    font-size: 16px; }
  .webkit .one-column .two-col-title {
    padding-bottom: 0; }
    .webkit .one-column .two-col-title .h1 {
      max-width: 400px;
      color: #8a5ba6;
      font-size: 24px;
      font-family: 'Dosis', Helvetica, Arial, sans-serif;
      line-height: 32px; }
  .webkit .left-wide .text p {
    margin-bottom: 18px; }
  .webkit .left-wide ol {
    padding-left: 10px; }
  .webkit .greeting {
    font-weight: bold;
    Margin-bottom: 18px; }
    .webkit .greeting span {
      color: #ff35ff; }
  .webkit .right-thin .inner {
    padding-top: 54px; }
  .webkit .side-quote {
    color: #8a5ba6;
    border-top: 3px solid #000000;
    border-bottom: 3px solid #000000;
    padding-bottom: 15px; }
    .webkit .side-quote .quote {
      font-style: italic; }

.signature .inner {
  padding-top: 0 !important; }

.defakto-contact tr {
  height: 40px; }

.defakto-contact .contact-icon {
  text-align: center;
  vertical-align: top;
  width: 16px;
  padding-top: 5px; }
  .defakto-contact .contact-icon img {
    width: 16px;
    height: 16px; }

.defakto-contact .contact-info {
  text-align: left;
  vertical-align: top;
  padding-left: 20px;
  padding-top: 3px; }
  .defakto-contact .contact-info p {
    line-height: 1;
    Margin-bottom: 0;
    font-size: 14px; }
