/* -------------------------------------
    CONFIGURE YOUR VARIABLES
------------------------------------- */
/* -------------------------------------
    GLOBAL RESETS
------------------------------------- */
@import url(https://fonts.googleapis.com/css?family=Elsie+Swash+Caps:900);
table,
td,
div,
a {
  box-sizing: border-box; }

img {
  -ms-interpolation-mode: bicubic;
  max-width: 100%; }

body {
  font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 14px;
  height: 100% !important;
  line-height: 1.6em;
  margin: 0;
  padding: 0;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  width: 100% !important; }

table {
  border-collapse: separate !important;
  mso-table-lspace: 0pt;
  mso-table-rspace: 0pt;
  width: 100%; }
  table td {
    font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 14px;
    vertical-align: top; }

.ExternalClass {
  width: 100%; }

.ExternalClass,
.ExternalClass p,
.ExternalClass span,
.ExternalClass font,
.ExternalClass td,
.ExternalClass div {
  line-height: 100%; }

/* -------------------------------------
    TYPOGRAPHY
------------------------------------- */
h1,
h2,
h3,
h4 {
  color: #000;
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 400;
  line-height: 1.4em;
  margin: 0;
  margin-bottom: 30px; }

h1 {
  font-size: 38px;
  text-transform: capitalize;
  font-weight: 300; }

h2 {
  font-size: 24px; }

h3 {
  font-size: 18px; }

h4 {
  font-size: 14px;
  font-weight: 500; }

p,
ul,
ol {
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
  margin-bottom: 15px; }
  p li,
  ul li,
  ol li {
    list-style-position: inside;
    margin-left: 5px; }

a {
  color: #348eda;
  text-decoration: underline; }

/* -------------------------------------
    BUTTONS
------------------------------------- */
.btn {
  width: 100%; }
  .btn > tr > td {
    padding-bottom: 15px; }
  .btn table {
    width: auto; }
  .btn table td {
    text-align: center; }
  .btn a {
    color: #348eda;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    Margin: 0;
    padding: 12px 25px;
    text-decoration: none;
    text-transform: capitalize; }

.btn-primary table td {
  background-color: #348eda; }

.btn-primary a {
  background-color: #348eda;
  border-color: #348eda;
  color: #ffffff; }

.btn-secondary table td {
  background-color: transparent; }

.btn-secondary a {
  background-color: transparent;
  border-color: #348eda;
  color: #348eda; }

.btn-defakto {
  width: 100%;
  padding-top: 10px; }
  .btn-defakto table {
    width: 100%;
    max-width: 233.33px; }
    .btn-defakto table td {
      background-color: #12ada1; }
  .btn-defakto a {
    width: 100%;
    max-width: 233.33px;
    background-color: transparent;
    border-color: #12ada1;
    color: #ffffff;
    font-weight: 300;
    font-size: 18px; }

/* -------------------------------------
    OTHER STYLES THAT MIGHT BE USEFUL
------------------------------------- */
.last {
  margin-bottom: 0; }

.first {
  margin-top: 0; }

.align-center {
  text-align: center; }

.align-right {
  text-align: right; }

.align-left {
  text-align: left; }

.clear {
  clear: both; }

.mt0 {
  margin-top: 0; }

.mb0 {
  margin-bottom: 0; }

.preheader {
  color: transparent;
  display: none;
  height: 0;
  max-height: 0;
  max-width: 0;
  opacity: 0;
  overflow: hidden;
  mso-hide: all;
  visibility: hidden;
  width: 0; }

body {
  Margin: 0;
  padding: 0;
  min-width: 100%;
  background-color: #ffffff; }

table {
  border-spacing: 0;
  font-family: sans-serif; }

td {
  padding: 0; }

img {
  border: 0; }

.wrapper {
  width: 100%;
  table-layout: fixed;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

.webkit {
  max-width: 600px; }

.webkit-lg {
  max-width: 700px; }
  .webkit-lg .outer-lg {
    Margin: 0 auto;
    width: 100%;
    max-width: 700px; }
  .webkit-lg .full-width-image img {
    max-width: 700px; }

.outer {
  Margin: 0 auto;
  width: 100%;
  max-width: 600px; }

.inner {
  padding: 10px; }

.contents {
  width: 100%; }

p {
  Margin: 0; }

.full-width-image img {
  width: 100%;
  max-width: 600px;
  height: auto; }

/* One column layout */
.one-column .contents {
  text-align: left; }

.one-column p {
  font-size: 14px;
  Margin-bottom: 10px; }

/*Two column layout*/
.two-column {
  text-align: center;
  font-size: 0; }
  .two-column .column {
    width: 100%;
    display: inline-block;
    vertical-align: top; }
  .two-column .even {
    max-width: 300px; }
  .two-column .left-wide,
  .two-column .right-wide {
    max-width: 400px; }
  .two-column .right-thin,
  .two-column .left-thin {
    max-width: 200px; }
  .two-column .contents {
    font-size: 14px;
    text-align: left; }
  .two-column img {
    width: 100%;
    max-width: 280px;
    height: auto; }
  .two-column .text {
    padding-top: 10px; }

/*Three column layout*/
.three-column {
  text-align: center;
  font-size: 0;
  padding-top: 10px;
  padding-bottom: 10px; }
  .three-column .column {
    width: 100%;
    max-width: 200px;
    display: inline-block;
    vertical-align: top; }
  .three-column img {
    width: 100%;
    max-width: 180px;
    height: auto; }
  .three-column .contents {
    font-size: 14px;
    text-align: center; }
  .three-column .text {
    padding-top: 10px; }

/* Left sidebar layout */
.left-sidebar {
  text-align: center;
  font-size: 0; }
  .left-sidebar .column {
    width: 100%;
    display: inline-block;
    vertical-align: middle; }
  .left-sidebar .left {
    max-width: 100px; }
  .left-sidebar .right {
    max-width: 500px; }
  .left-sidebar .img {
    width: 100%;
    max-width: 80px;
    height: auto; }
  .left-sidebar .contents {
    font-size: 14px;
    text-align: center; }

/* Right sidebar layout */
.right-sidebar {
  text-align: center;
  font-size: 0; }
  .right-sidebar .column {
    width: 100%;
    display: inline-block;
    vertical-align: middle; }
  .right-sidebar .left {
    max-width: 100px; }
  .right-sidebar .right {
    max-width: 500px; }
  .right-sidebar .img {
    width: 100%;
    max-width: 80px;
    height: auto; }
  .right-sidebar .contents {
    font-size: 14px;
    text-align: center; }

@media screen and (max-width: 400px) {
  .two-column .column {
    max-width: 100% !important; }
  .two-column img {
    max-width: 100% !important; }
  .three-column .column {
    max-width: 100% !important; }
  .three-column img {
    max-width: 50% !important; } }

@media screen and (min-width: 401px) and (max-width: 620px) {
  .three-column .column {
    max-width: 33% !important; }
  .two-column .column {
    max-width: 50% !important; } }

/* global */
.wireframes, .wireframes-dashed, .one-column.wf .inner, .two-column.wf .inner, .three-column.wf .inner, .left-sidebar.wf .column,
.right-sidebar.wf .column, .two-column.wf .inner .text, .three-column.wf .inner .text {
  text-align: center;
  border: 2px solid red;
  vertical-align: middle;
  height: 100px; }

.wireframes-dashed, .one-column.wf .inner, .two-column.wf .inner, .three-column.wf .inner, .left-sidebar.wf .column,
.right-sidebar.wf .column {
  border-style: dashed; }

/* non-global */
.one-column.wf .inner {
  text-align: left;
  vertical-align: top; }
  .one-column.wf .inner .h1 {
    margin: 0; }

.left-sidebar.wf .column,
.right-sidebar.wf .column {
  height: auto; }

/* GENERAL STUFF */
a {
  text-decoration: underline; }

.h1 {
  font-size: 22px;
  font-weight: bold;
  Margin-bottom: 18px; }

.h2 {
  font-size: 18px;
  font-weight: bold;
  Margin-bottom: 12px; }

.h3 {
  font-size: 16px;
  font-weight: bold;
  Margin-bottom: 10px; }

/* The layout */
.left-wide .inner {
  padding-top: 0; }

.left-wide .text {
  padding-top: 0; }

.defakto-contact {
  padding-left: 0; }
  .defakto-contact a {
    text-decoration: none;
    color: #000000; }
  .defakto-contact .location {
    height: 21px; }
  .defakto-contact .mail {
    height: 11px;
    width: 18px;
    padding-top: 3px; }

/* The rest */
.webkit {
  border-bottom: 10px solid #000000; }
  .webkit p,
  .webkit ol,
  .webkit ul {
    font-size: 16px; }
  .webkit .one-column .two-col-title {
    padding-bottom: 0; }
    .webkit .one-column .two-col-title .h1 {
      max-width: 400px;
      color: #8a5ba6;
      font-size: 24px;
      font-family: 'Dosis', Helvetica, Arial, sans-serif;
      line-height: 32px; }
  .webkit .left-wide .text p {
    margin-bottom: 18px; }
  .webkit .left-wide ol {
    padding-left: 10px; }
  .webkit .greeting {
    font-weight: bold;
    Margin-bottom: 18px; }
    .webkit .greeting span {
      color: #ff35ff; }
  .webkit .right-thin .inner {
    padding-top: 54px; }
  .webkit .side-quote {
    color: #8a5ba6;
    border-top: 3px solid #000000;
    border-bottom: 3px solid #000000;
    padding-bottom: 15px; }
    .webkit .side-quote .quote {
      font-style: italic; }

.signature .inner {
  padding-top: 0 !important; }

.defakto-contact tr {
  height: 40px; }

.defakto-contact .contact-icon {
  text-align: center;
  vertical-align: top;
  width: 16px;
  padding-top: 5px; }
  .defakto-contact .contact-icon img {
    width: 16px;
    height: 16px; }

.defakto-contact .contact-info {
  text-align: left;
  vertical-align: top;
  padding-left: 20px;
  padding-top: 3px; }
  .defakto-contact .contact-info p {
    line-height: 1;
    Margin-bottom: 0;
    font-size: 14px; }

.wrapper .outer {
  background-color: #d3d3d3;
  padding: 30px 35px; }

.body-outer {
  background-color: #FFF;
  padding: 0;
  margin: 0; }

.ExternalClass p, .ExternalClass span, .ExternalClass font, .ExternalClass td {
  line-height: 100%; }

.preheader-text {
  color: #c4c4c4;
  font-size: 12px; }

.header .inner {
  padding: 10px;
  padding-left: 0; }

.header .top-logo img {
  width: 100%;
  max-width: 165px;
  height: auto; }

.phone-number {
  vertical-align: middle; }
  .phone-number p {
    padding-top: 20px;
    color: #0c67b6;
    text-align: right;
    font-size: 18px; }
  .phone-number .partial-phone {
    color: #0c67b6;
    font-size: 18px;
    font-weight: bold;
    line-height: 18px;
    text-decoration: none; }

.phone-btm {
  color: #004990; }
  .phone-btm strong {
    font-size: 18px; }

.hero .contents img {
  width: 100%;
  max-width: 600px; }

.hero .contents .h1 {
  color: #ffffff;
  font-family: 'Elsie Swash Caps';
  line-height: 60px;
  font-size: 60px;
  font-weight: 900;
  text-align: center; }
  .hero .contents .h1 span {
    color: #007dc3;
    font-size: 40px;
    font-weight: bold; }
  .hero .contents .h1 sup {
    font-size: 18px; }

.hero .contents .h2 {
  color: #505050;
  line-height: 18px;
  font-size: 18px;
  font-weight: normal;
  margin-left: 5%;
  margin-right: 5%;
  text-align: center; }
  .hero .contents .h2 .partial-phone {
    color: #333333;
    font-size: 18px;
    font-weight: bold;
    line-height: 20px;
    text-decoration: none; }

.partial.offer-service .contents {
  text-align: left; }
  .partial.offer-service .contents .title-copy {
    color: #06367d;
    font-size: 24px;
    line-height: 24px;
    margin-bottom: 8px; }
  .partial.offer-service .contents .lead-copy {
    color: #333333;
    font-size: 16px;
    line-height: 20px;
    font-weight: bold; }
  .partial.offer-service .contents .price-copy {
    color: #333333;
    font-size: 48px;
    line-height: 48px;
    font-weight: bold; }
  .partial.offer-service .contents .price-sub {
    color: #333333;
    font-size: 16px;
    line-height: 10px;
    font-weight: bold; }
  .partial.offer-service .contents .term-copy {
    color: #333333;
    font-size: 12px;
    line-height: 12px;
    margin-bottom: 12px; }
  .partial.offer-service .contents .bullet-copy {
    color: #06367d;
    font-size: 14px;
    line-height: 16px;
    font-weight: normal; }
  .partial.offer-service .contents .bullets td {
    color: #06367d;
    font-size: 14px;
    line-height: 16px;
    font-weight: normal; }
  .partial.offer-service .contents .phone-copy {
    color: #333333;
    font-size: 18px;
    font-weight: bold;
    line-height: 18px; }
    .partial.offer-service .contents .phone-copy .partial-phone {
      color: #333333;
      font-size: 22px;
      font-weight: bold;
      line-height: 22px;
      text-decoration: none; }
  .partial.offer-service .contents .upgrade-block {
    padding: 10px 0 0 0; }
    .partial.offer-service .contents .upgrade-block .copy {
      color: #333333;
      font-size: 14px;
      font-weight: bold;
      line-height: 16px; }

.partial.offer-promo .contents {
  text-align: center; }
  .partial.offer-promo .contents .lead-copy {
    color: #666666;
    font-size: 20px;
    line-height: 20px; }
  .partial.offer-promo .contents .promo-copy-h1 {
    color: #004990;
    font-size: 80px;
    line-height: 80px; }
  .partial.offer-promo .contents .promo-copy-h2 {
    color: #004990;
    font-size: 40px;
    line-height: 40px; }
  .partial.offer-promo .contents .price-copy {
    color: #666666;
    font-size: 18px;
    line-height: 18px; }
  .partial.offer-promo .contents .term-copy {
    color: #666666;
    font-size: 14px;
    line-height: 14px; }
  .partial.offer-promo .contents .phone-copy {
    color: #333333;
    font-size: 18px;
    font-weight: bold;
    line-height: 20px; }
    .partial.offer-promo .contents .phone-copy .partial-phone {
      color: #333333;
      font-size: 22px;
      font-weight: bold;
      line-height: 22px;
      text-decoration: none;
      padding-top: 5px; }
  .partial.offer-promo .contents .upgrade-block {
    padding: 10px 0 0 0; }
    .partial.offer-promo .contents .upgrade-block .copy {
      color: #333333;
      font-size: 14px;
      font-weight: bold;
      line-height: 16px; }

.content-copy .contents .bullets {
  margin-bottom: 10px; }
  .content-copy .contents .bullets .ol-num {
    color: #505050; }
  .content-copy .contents .bullets .ol-content {
    color: #505050;
    margin-bottom: 10px; }

.content-copy .contents p {
  color: #505050; }

.content-copy .contents .h1 {
  color: #06367d;
  line-height: 16px;
  font-size: 16px;
  font-weight: bold; }

.content-copy .contents .h2 {
  color: #333333;
  line-height: 18px;
  font-size: 18px;
  font-weight: bold;
  margin: 0; }
  .content-copy .contents .h2 a {
    color: #333333;
    text-decoration: none; }

.content-copy .contents .copy {
  margin-bottom: 10px;
  color: #333333; }

.divider .inner {
  padding: 0; }

.partial .inner {
  padding: 0; }

.blue-spacer .inner {
  padding: 0; }

.wood-spacer {
  padding-top: 6px; }

.main-content .the-know {
  padding-top: 30px; }

.main-content .main-p {
  padding-bottom: 0; }

.main-content .h1 {
  color: #004990;
  Margin-bottom: 0;
  font-size: 19px; }

.main-content .wp-section .left {
  max-width: 130px; }
  .main-content .wp-section .left .inner {
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0; }

.main-content .wp-section .right {
  max-width: 470px; }
  .main-content .wp-section .right .inner {
    padding-right: 0; }

.main-content .wp-section .list p {
  Margin: 0; }

.main-content .cta {
  padding-top: 0; }
  .main-content .cta .h1 {
    font-size: 16px; }
  .main-content .cta .btn-twc-2 {
    padding: 0; }

.main-content .full-width-image {
  padding-left: 10px;
  padding-right: 10px; }

p.title {
  Margin-bottom: 0; }

ul.reason-list {
  padding-left: 0; }
  ul.reason-list li {
    margin-left: 5px;
    list-style-position: inside; }

.footer .social-icon {
  padding-left: 14px;
  padding-right: 5px;
  padding-top: 14px;
  padding-bottom: 14px; }
  .footer .social-icon:first-child {
    padding-left: 0; }
  .footer .social-icon a {
    width: auto;
    height: auto; }

.footer .inner {
  padding-left: 0;
  padding-right: 0; }

.footer .service-link {
  padding-top: 17px;
  display: inline-block; }
  .footer .service-link a {
    color: #000000;
    font-size: 12px;
    text-align: center; }

.legal .inner {
  padding-top: 0; }

.legal .legal-copy {
  font-size: 10px;
  line-height: 10px;
  color: #aeafb3; }

.partial.upsell {
  border: solid 1px #333333;
  font-size: 12px;
  color: #333333; }
  .partial.upsell .left {
    width: 80px;
    text-align: center;
    line-height: 1;
    vertical-align: middle;
    border-right: solid 1px #333333; }
  .partial.upsell .right {
    text-align: left;
    line-height: 1;
    font-size: 15px 24px;
    color: #333333;
    vertical-align: middle;
    padding: 12px; }
    .partial.upsell .right .title {
      font-size: 16px;
      font-weight: bold;
      line-height: 16px;
      color: #004990;
      margin-bottom: 5px; }
    .partial.upsell .right .copy p {
      font-size: 12px;
      font-weight: normal;
      line-height: 12px;
      color: #333333; }
    .partial.upsell .right .cta {
      font-size: 14px;
      font-weight: bold;
      line-height: 14px;
      color: #333333; }

.partial.copy-top .contents {
  font-size: 18px;
  font-weight: bold;
  line-height: 18px;
  padding-left: 20px;
  padding-right: 20px; }

.copy-bottom {
  padding: 20px 0 0 0; }
  .copy-bottom .h1 {
    font-size: 24px;
    text-align: center;
    color: #333333;
    margin: 0 0 5px; }
    .copy-bottom .h1 .partial-phone {
      font-size: 24px;
      text-align: center;
      color: #333333;
      text-decoration: none; }
  .copy-bottom .h2 {
    font-size: 12px;
    text-align: center;
    color: #333333;
    margin: 0; }
    .copy-bottom .h2 a {
      color: #348eda; }

.vertical-padding-20 {
  padding: 20px 0; }

.thirtyday {
  font-size: 12px;
  color: #333333; }
  .thirtyday .left {
    width: 25%;
    text-align: center;
    line-height: 1;
    vertical-align: middle; }
  .thirtyday .right {
    width: 75%;
    text-align: left;
    line-height: 1;
    font-size: 12px;
    color: #333333;
    vertical-align: middle;
    padding: 12px; }

.wifi .left {
  width: 25%;
  text-align: center;
  line-height: 1;
  vertical-align: middle; }

.wifi .right {
  width: 75%;
  text-align: left;
  line-height: 1;
  font-size: 12px;
  color: #333333;
  vertical-align: middle;
  padding: 12px; }

@media screen and (min-width: 421px) {
  .mq-border-right {
    border-right: solid 1px #838383; }
  .wide {
    max-width: 400px !important; }
  .thin {
    max-width: 200px !important; }
  .service-link {
    padding-left: 30px !important; }
  .services {
    /*    text-align: right !important; */ } }

@media screen and (max-width: 420px) {
  .mq-border-bottom {
    border-bottom: solid 1px #838383;
    margin-bottom: 10px;
    padding-bottom: 10px; }
  .header .top-logo {
    text-align: center !important; }
  .header .phone-number p {
    padding-top: 0 !important; }
  .header-with-number .logo {
    width: 40% !important; }
    .header-with-number .logo img {
      height: auto !important; }
  .header-with-number .phone-number {
    width: 60% !important; }
    .header-with-number .phone-number p,
    .header-with-number .phone-number .partial-phone {
      font-size: 18px !important;
      padding-top: 10px !important; }
  .hero .even {
    max-width: 100% !important; }
  .hero .for-wp {
    padding: 0 !important; }
  .hero .contents .h1 {
    line-height: 28px !important;
    font-size: 26px !important; }
    .hero .contents .h1 span {
      font-size: 30px !important; }
  .partial .even {
    max-width: 100% !important; }
  .wp-section .left {
    max-width: 100% !important; }
    .wp-section .left img {
      width: 80%; }
  .service-link {
    display: block !important;
    padding-top: 0 !important;
    text-align: center !important; }
  .footer .inner {
    padding-top: 0 !important;
    padding-bottom: 0 !important; }
  .footer .social-icon {
    padding-top: 8px !important; } }

.no-padding-left {
  padding-left: 0; }

.no-padding-right {
  padding-right: 0; }

/* MH Styles  */
/* MH Styles  */
/* LV Styles  */
.spacer {
  padding: 10px; }

.two-column {
  text-align: center;
  font-size: 0; }
  .two-column .column {
    width: 100%;
    display: inline-block;
    vertical-align: top; }
  .two-column .even {
    max-width: 300px; }
  .two-column .left-wide,
  .two-column .right-wide {
    max-width: 380px; }
  .two-column .right-thin,
  .two-column .left-thin {
    max-width: 100px; }
  .two-column .contents {
    font-size: 14px;
    text-align: left; }
  .two-column img {
    width: 100%;
    max-width: 280px;
    height: auto; }
  .two-column .text {
    padding-top: 10px; }

.hero .from {
  color: #d3d3d3; }

.left-thin .contents {
  font-family: 'Helvetica Neue', Helvetica, Arial; }
  .left-thin .contents p {
    font-size: 20px;
    line-height: 21px; }
  .left-thin .contents span {
    font-size: 55px;
    line-height: 60px; }

.left-thin .inner {
  padding: 0 10px 0 0; }

.right-wide .contents {
  font-family: Verdana, Arial;
  font-size: 12px;
  line-height: 15px; }

.right-wide .inner {
  padding: 0 0 0 10px; }

.inner h1 {
  color: #8a5ba6 !important;
  margin-bottom: 0px;
  padding-bottom: 0px;
  font-size: 36px;
  font-style: italic;
  text-transform: none; }

.inner p {
  font-size: 12px;
  line-height: 14px; }

.partial .email-content {
  padding-left: 20px; }

.sign {
  padding: 20px 40px; }

.defakto-icon {
  padding: 40px;
  background-color: #fff; }

.contents img {
  padding-top: 3px; }

.arrow2015 {
  max-width: 110px; }

.webkit {
  border-bottom: none !important; }

/* LV Styles  */
