---
layout: defakto-email-NewYear.hbs
subject: Happy New Year from Defakto
---

{{> NewYear-hero page.hero  }}

{{> spacer }}
<tr>
  <td class="two-column">
    <!--[if (gte mso 9)|(IE)]>
    <table width="100%">
    <tr>
    <td width="20%" valign="top">
    <![endif]-->
    <div class="column left-thin">
      <table width="100%">
        <tr>
          <td class="inner">
            <table class="contents">
              <tr>
                <td>
                  <img src={{page.main.mainImg.src}} alt="{{page.main.mainImg.alt}}" />
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </div>
    <!--[if (gte mso 9)|(IE)]>
    </td><td width="80%" valign="top">
    <![endif]-->
    <div class="column right-wide">
      <table width="100%">   
        <tr>
          <td class="inner">
            <table class="contents">
              <tr>
                <td>
                  <p>{{page.main.content}}</p>

                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </div>
    <!--[if (gte mso 9)|(IE)]>
    </td>
    </tr>
    </table>
    <![endif]-->
  </td>
</tr>

{{> spacer }}

<tr>
  <td class="partial one-column">
    <table width="100%">
      <tr>
        <td class="inner contents arrow2015">
          <img src={{page.divider.src}} alt="{{page.divider.alt}}" />
        </td>
      </tr>
    </table>
  </td>
</tr>

<tr>
  <td class="partial one-column vertical-padding-20">
    <!--[if (gte mso 9)|(IE)]>
    <table width="100%">
    <tr>
    <td width="50%" valign="top">
    <![endif]-->
    <div class="column even">
      <table width="100%">
        <tr>
          <td class="inner">
            <table class="contents email-content">
              <tr>
                <td>
                <h1> {{page.secondary.title}} </h1>  
                  <p>{{page.secondary.content}} </p> 
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </div>
  </td>
</tr>

<tr>
  <td class="partial one-column">
    <table width="100%">
      <tr>
        <td class="inner contents">
          {{> gilbert-signature }}
        </td>
      </tr>
    </table>
  </td>
</tr>

<tr>
  <td class="partial one-column">
    <table width="100%">
      <tr>
        <td class="inner contents">
          <table width="100%" height="32" cellpadding="0" cellspacing="0" style="max-width:600px;">
            <tr>
              <td class="defakto-icon" align="center">
                <img src={{page.footer.logo.src}} alt="{{page.footer.logo.alt}}" />
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </td>
</tr>
