---
layout: other.hbs
subject: Defakto Branded 2 Column Email
---
<tr>
  <td class="full-width-image">
    <img src="../img/Logo.png" width="600" alt="" />
  </td>
</tr>
<tr>
  <td class="one-column">
    <table width="100%">
      <tr>
        <td class="inner contents two-col-title">
          <p class="h1">Do you manage your AEM platform, or does it manage you?</p>
        </td>
      </tr>
    </table>
  </td>
</tr>
<tr>
  <td class="two-column">
    <!--[if (gte mso 9)|(IE)]>
    <table width="100%">
    <tr>
    <td width="50%" valign="top">
    <![endif]-->
    <div class="column left-wide">
      <table width="100%">
        <tr>
          <td class="inner">
            <table class="contents">
              <tr>
                <td class="text">
                  <p class="greeting">Dear <span>$[FNAME]$</span>,</p>
                  <p>As a stakeholder of your company's powerful Adobe Experience Manager (AEM) platform, you understand the challenges associated with it. At Defakto, we can help minimize your pain points and optimize your AEM implementation.</p>
                  <p>Our experience has highlighted five of the most common AEM issues. Do these sound familiar?</p>
                  <ol>
                    <li>Struggling to keep a handle on campaign tracking and measurement across multiple systems</li>
                    <li>Difficulty to launch multiple custom, dynamic, regionalized campaign versions</li>
                    <li>Lack of skilled resources to deliver on content authorship and development needs</li>
                    <li>Problems efficiently capturing leads and managing data</li>
                    <li>Confidence that the AEM platform was configured properly</li>
                  </ol>
                  <p>For these and all your AEM issues, Defakto is teh resource you're looking for. Our integrated team has a proven track record of optimizing CMS platforms for a long list of clients. We'd like to start a dialogue with you.</p>
                  <p class="h2">See how we address the issues above by partnering with Defakto.</p>
                </td>
              </tr>
            </table>
            {{{ button type="defakto" align="left" url="http://www.defak.to" title="LEARN MORE" }}}
          </td>
        </tr>
      </table>
    </div>
    <!--[if (gte mso 9)|(IE)]>
    </td><td width="50%" valign="top">
    <![endif]-->
    <div class="column right-thin">
      <table width="100%">
        <tr>
          <td class="inner">
            <table class="contents">
              <tr>
                <td class="text side-quote">
                  <p class="quote">[AEM] has enormous market momentum, but many organizations lack the skills to support it's product's implementation...many organizations lack the technical skills to manage thair digital presence. </p>
                  <br />
                  <p>- Gartner, October 2014</p>
                </td>
              </tr>
            </table>
            <table class="inner defakto-contact" width="100%">
              <tr>
                <td class="contact-icon"><img class="telephone" src="../img/telephone.png" alt=""></td>
                <td class="contact-info">214&#9679;265&#9679;9822</td>
              </tr>
              <tr>
                <td class="contact-icon"><img class="mail" src="../img/mail.png" alt=""></td>
                <td class="contact-info"><a href="mailto:info@defak.to">info@defak.to</a></td>
              </tr>
              <tr>
                <td class="contact-icon"><img class="location" src="../img/location.png" alt=""></td>
                <td class="contact-info">
                  <a href="https://goo.gl/maps/S9t95RcsBmt">
                    <p>8340 Meadow Rd.</p>
                    <p>Suite 142,</p>
                    <p>Dallas, TX 75231</p>
                  </a>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </div>
    <!--[if (gte mso 9)|(IE)]>
    </td>
    </tr>
    </table>
    <![endif]-->
  </td>
</tr>

<!-- $[LI:UNSUBSCRIBE]$ -->